<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" routerLinkActive="active" [routerLink]="['/']">Lista de tarefas</a>
                  <a class="nav-link" href="https://github.com/lulcas174">GitHub</a>
                </div>
              </div>
            </div>
          </nav>
    </div>
</div>


<router-outlet></router-outlet>
